<div class = "css-post">
  <li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
      <%= micropost.content %>
      <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words micropost.created_at %> ago.
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle unsethover", 'data-toggle': "dropdown" do %>
          <p style = "margin: 0"><%= micropost.likes.count %> <%= (micropost.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <% end %>
        <ul class="dropdown-menu">
          <li style = "width: 350px">
            <% micropost.likes.includes(:user).each do |like| %>
              <%= link_to gravatar_for(like.user, size: 30) %>
              <span class="user"><%= link_to like.user.name %></span>
            <% end %>
          </li>
        </ul>
      </li>
      <div class = "padding_micropost">
        <span class = "icon_like">
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <% pre_like = micropost.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to 'Unlike', micropost_like_path(micropost, pre_like), method: :delete, class: :color_icon%>
          <% else %>
            <%= link_to 'Like', micropost_likes_path(micropost), method: :post %>
          <% end %>
        </span>
        <span class = "comment" id="<%= micropost.id %>">
          <a class = "btn-comment" style = 'cursor:pointer'> comment</a>
        </span>
        <% if current_user? micropost.user %>
          <%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
        <span class = "btn-showcmt" id="<%= micropost.id %>">
          <a class = "btn-comment" style = 'cursor:pointer'> show more</a>
        </span>
      </div>
    </span>
    <div class="input_comment" style="display: none" id="input_comment-<%= micropost.id %>">
      <%= form_with url: new_micropost_comment_path(micropost), method: :get do |f| %>
      <div class="input-group">
        <input type="text" class="form-control in-comment" placeholder="comment" name="content" style = 'width:690px'  > 
        <div class="input-group-btn">
          <button class="hi" type="submit" hidden>
          </button>
        </div>
      </div>
      <% end %>
    </div>
    <% micropost.comments.each do |comment|%>
      <div class = "hi" style="margin: 0 0 0 60px; display: none;">
        <%= link_to gravatar_for(comment.user, size: 30) %>
        <span class="user"><%= link_to comment.user.name %></span>
        <p >
          <%= comment.content %>
          <% if (current_user? micropost.user) || current_user.id == comment.user.id %>
            <%= link_to "delete", micropost_comment_path(comment.micropost_id,comment.id), method: :delete, data: {confirm: "You sure?"} %>
          <% end %>
        </p>
      </div>
    <% end %>
    <script id="list-comment-template" type="text/x-handlebars-template">
      <div class="form-outline list-cmt-span" style="margin-left: 8%; margin-right: 8%;">
        <span>
          <a class="avatar-cmt" href="#"><img alt="" class="gravatar" src={{comment.avatar}}></a>
          <p class="p-comment">{{ comment.content }}</p>
        </span>
      </div>
    </script>
  </li>
</div>
